.places{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 17px;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 800px;
 }
 
 .places__card{
     max-width: 282px;
     max-height: 361px;
     background-color: #fff;
     border-radius: 10px;
     overflow: hidden;
 }
 
 .places__element{
     position: relative;
     
 }
 
 .places__image{
     max-width: 100%;
     min-height: 282px;
     max-height: 282px;
 
 }
 
 .places__item{
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     margin: 25px 18px;
 
 }
 
 .places__title{
     color: #000;
     font-family: Inter;
     font-size: 1.5rem;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     margin: 0;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
     max-width: 100%;
 }
 
 .button__like{
     position: relative;
     background-image: url(/vendor/images/comprimir/like.png);
     width: 21px;
     height: 19px;
     max-width: 21px;
     max-height: 19px;
     border: none;
     cursor: pointer;
     padding: 0;
   }

.button__like-active{
    position: relative;
     background-image: url(/vendor/images/comprimir/liked.png);
     width: 21px;
     height: 19px;
     max-width: 21px;
     max-height: 19px;
     border: none;
     cursor: pointer;
     padding: 0;
}

@media screen and (max-width:760px) {
    .places{
        grid-template-columns: auto auto;
        justify-items: center;
        row-gap: 13px;
        column-gap: 13px;
    }

}

@media screen and (max-width:560px) {
    .places{
        grid-template-columns: auto;
        justify-items: center;
        row-gap: 20 px;
        margin-top: 36px;
    }

}