.logo{
    margin: auto;
    max-width: 800px;
}

.logo__image{
    margin-top: 45px;
    margin-bottom: 41px;
}

.logo__line{
    border-bottom: 1px #545454 solid;
}

@media screen and (max-width: 760px) {
    .logo__image{
        margin-left: 10px;
    }
}

@media screen and (max-width: 560px){  
    .logo__image{
        width: 126px;
        height: 24px;
        margin-left: 27px;
        margin-top: 28px;
    }
}