@import url(/vendor/normalize.css);

@import url(/font/config/InterWeb/inter.css);

body{
    max-width: 1280px;
    background-color: #000;
    margin: 0 auto ;
}

/* logo*/

.logo{
    margin: auto;

}

.logo__image{
    margin-top: 45px;
    margin-bottom: 41px;
}

.logo__line{
    border-bottom: 1px #545454 solid;
}

/*places*/

.places{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   row-gap: 20px;
   column-gap: 17px;
   margin: 0 auto;
   margin-top: 50px;
   max-width: 800px;
}

.places__card{
    max-width: 282px;
    max-height: 361px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.places__element{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.places__image{
    max-width: 100%;
    height: 282px;

}

.places__item{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 25px auto;
}

.places__title{
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.places__like{
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 35px;
  }

/* footer*/

.footer{
    margin-top: 61px;
}

.footer__text{
    color: #545454;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}