
@import url(/block/logo.css);

@import url(/block/profile.css);

@import url(/block/places.css);

@import url(/block/footer.css);

@import url(/block/popupEdit.css);

@import url(/block/popupCard.css);

@import url(/block/image.css);

@import url(/vendor/normalize.css);

@import url(/font/config/InterWeb/inter.css);



body{
    position: relative;
    max-width: 1280px;
    background-color: #000;
    margin: 0 auto;
}